# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Results & data
results/
data/
models/
downloads/
/collector
notes.txt

# OS junk
.DS_Store
Thumbs.db