# ------------------------------------------------------------
# WINSHIELD+ REQUIREMENTS
# ------------------------------------------------------------

pandas
numpy
scikit-learn
joblib
requests
beautifulsoup4
matplotlib